[Unit]
Description="Refresh kerberos ticket every 4 hours"

[Timer]
OnStartupSec=10s
OnUnitActiveSec=4h
Unit=refresh-kerberos-ticket.service

[Install]
WantedBy=timers.target
