[Unit]
Description=NFS mount (/share/Videos on cobra)
After=wait-for-ping.service

[Mount]
What=192.168.1.84:/videos
Where=/home/narcizo/Videos
Type=nfs4
TimeoutSec=20s
Options=_netdev,auto,sec=krb5p
#LazyUnmount=true
ForceUnmount=true

[Install]
WantedBy=remote-fs.target
WantedBy=multi-user.target
