[Unit]
Description=NFS mount (/homes/narcizo/Documents on cobra)
After=wait-for-ping.service

[Mount]
What=192.168.1.84:/documents
Where=/home/narcizo/Documents
Type=nfs4
TimeoutSec=20s
Options=_netdev,auto,sec=krb5p
#LazyUnmount=true
ForceUnmount=true

[Install]
WantedBy=remote-fs.target
WantedBy=multi-user.target
