[Unit]
Description=NFS mount (/share/Pictures on cobra)
After=wait-for-ping.service

[Mount]
What=192.168.1.84:/pictures
Where=/home/narcizo/Pictures
Type=nfs4
TimeoutSec=20s
Options=_netdev,auto,sec=krb5p
ForceUnmount=true
