[Unit]
Description=NFS mount (Pictures on elefante)
After=wait-for-ping.service

[Mount]
What=192.168.1.104:/Pictures
Where=/media/Pictures
Type=nfs4
TimeoutSec=20s
Options=_netdev,auto
LazyUnmount=true
ForceUnmount=true

[Install]
WantedBy=remote-fs.target
WantedBy=multi-user.target
