[Unit]
Description=NFS mount (Google Drive on elefante)
After=wait-for-ping.service

[Mount]
What=192.168.1.104:/gdrive
Where=/mnt/gdrive
Type=nfs4
TimeoutSec=20s
Options=_netdev,auto
ForceUnmount=true
