[Unit]
Description=NFS mount (linux-backup on elefante)
After=wait-for-ping.service

[Mount]
What=192.168.1.104:/linux-backup
Where=/mnt/backup
Type=nfs4
TimeoutSec=20s
Options=_netdev,auto
LazyUnmount=true
ForceUnmount=true

[Install]
WantedBy=remote-fs.target
WantedBy=multi-user.target
