[Unit]
Description=NFS mount (linux-backup on cobra)
After=wait-for-ping.service

[Mount]
What=cobra.localdomain:/backups
Where=/mnt/backups
Type=nfs4
TimeoutSec=20s
Options=_netdev,auto,sec=sys,vers=4.2
ForceUnmount=true
