[Unit]
Description="Calls service for snapshot utility once a week"

[Timer]
Persistent=true
OnCalendar=Sat *-*-* 04:00:00
WakeSystem=true
RandomizedDelaySec=300
Unit=snapshot-weekly.service

[Install]
WantedBy=timers.target
