[Unit]
Description="Weekly rotating-snapshot utility"

[Service]
Type=oneshot
ExecStart=/usr/local/bin/snapshot-weekly
Restart=on-failure
RestartSec=60
