[Unit]
Description="Daily rotating-snapshot utility"
Wants=network-online.target
After=network-online.target systemd-suspend.service snapshot-weekly.service snapshot-monthly.service

[Service]
Type=oneshot
ExecStart=/bin/systemd-inhibit --what=idle:sleep:shutdown --why="snapshot-daily is running" /usr/local/bin/snapshot-daily
